build/
meson/build/
output/
.vs/
.vscode/*
!.vscode/build-release.ps1
!.vscode/launch-release.ps1
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.user
.idea
__pycache__/
*.pyc
.tmp/
make-macosx-values.local
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles/
!subprojects/packagefiles/**
